# Exploring the `NBAgames` dataset
We will begin this project with one of the datasets I found on [Kaggle](https://www.kaggle.com/nathanlauga/nba-games) from user Nathan Luaga who collected this data from the [NBA stats](https://www.nba.com/stats/) website. This website tracks many different statistics and will be used frequently throughout this project.

In this notebook we will take a look at the data of each game from the 2003 to the 2019 season adding additional features to track offensive output of teams.

# Notebook Objective

# Learning Objectives

# Setup

## Imports

In [2]:
import pandas as pd

import numpy as np

import matplotlib.pyplot as plt

## Loading Raw Dataset

In [3]:
NBA_GAMES_DATASET = 'C:/Users/User/OneDrive/Desktop/DSIP/NBAproject/data/raw/games.csv'
GAMES_DETAILS_DATASET = 'C:/Users/User/OneDrive/Desktop/DSIP/NBAproject/data/raw/games_details.csv'

## Configuration

In [4]:
%matplotlib inline

# Loading the NBA Dataset

Let's read in the Games details dataset. This dataset contains the performance of each player in each game from the 2003 to 2019 season. It is a CSV file so we will use `.read_csv()`.

We will now use `.shape()` to and `.head()` to get a better idea of what our data looks like.

In [5]:
details = pd.read_csv(GAMES_DETAILS_DATASET)
details.shape

(585794, 28)

In [11]:
details.head()

,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,START_POSITION,COMMENT,MIN,FGM,...,OREB,DREB,REB,AST,STL,BLK,TO,PF,PTS,PLUS_MINUS
0,12000047,1610612766,CHA,Charlotte,1628998,Cody Martin,F,NaN,17:06,0.0,...,0.0,2.0,2.0,1.0,0.0,1.0,1.0,2.0,0.0,-31.0
1,12000047,1610612766,CHA,Charlotte,1629023,P.J. Washington,F,NaN,24:58,4.0,...,1.0,6.0,7.0,2.0,2.0,1.0,5.0,3.0,9.0,-2.0
2,12000047,1610612766,CHA,Charlotte,203469,Cody Zeller,C,NaN,22:45,5.0,...,2.0,2.0,4.0,0.0,0.0,1.0,0.0,2.0,13.0,-23.0
3,12000047,1610612766,CHA,Charlotte,1628984,Devonte' Graham,G,NaN,31:30,8.0,...,1.0,3.0,4.0,3.0,2.0,0.0,4.0,0.0,25.0,-7.0
4,12000047,1610612766,CHA,Charlotte,1626179,Terry Rozier,G,NaN,26:48,8.0,...,1.0,4.0,5.0,6.0,1.0,0.0,0.0,2.0,24.0,22.0

We can use `.dtypes` to check our column headers and data types.

In [7]:
details.dtypes

GAME_ID                int64
TEAM_ID                int64
TEAM_ABBREVIATION     object
TEAM_CITY             object
PLAYER_ID              int64
PLAYER_NAME           object
START_POSITION        object
COMMENT               object
MIN                   object
FGM                  float64
FGA                  float64
FG_PCT               float64
FG3M                 float64
FG3A                 float64
FG3_PCT              float64
FTM                  float64
FTA                  float64
FT_PCT               float64
OREB                 float64
DREB                 float64
REB                  float64
AST                  float64
STL                  float64
BLK                  float64
TO                   float64
PF                   float64
PTS                  float64
PLUS_MINUS           float64
dtype: object

# Checking for Missing Data

Some rows contain data of players that were injured, sick or picked for certain games.

In [17]:
details.isnull()

,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,START_POSITION,COMMENT,MIN,FGM,...,OREB,DREB,REB,AST,STL,BLK,TO,PF,PTS,PLUS_MINUS
0,False,False,False,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
585789,False,False,False,False,False,False,True,True,False,False,...,False,False,False,False,False,False,False,False,False,True
585790,False,False,False,False,False,False,True,True,False,False,...,False,False,False,False,False,False,False,False,False,True
585791,False,False,False,False,False,False,True,True,False,False,...,False,False,False,False,False,False,False,False,False,True
585792,False,False,False,False,False,False,True,True,False,False,...,False,False,False,False,False,False,False,False,False,True
585793,False,False,False,False,False,False,True,True,False,False,...,False,False,False,False,False,False,False,False,False,True

We can use `.isnull()` in conjunction with `.sum()` to count the number of empty cells.

In [15]:
details.isnull().sum()

GAME_ID                   0
TEAM_ID                   0
TEAM_ABBREVIATION         0
TEAM_CITY                 0
PLAYER_ID                 0
PLAYER_NAME               0
START_POSITION       361170
COMMENT              491738
MIN                   94057
FGM                   94057
FGA                   94057
FG_PCT                94057
FG3M                  94057
FG3A                  94057
FG3_PCT               94057
FTM                   94057
FTA                   94057
FT_PCT                94057
OREB                  94057
DREB                  94057
REB                   94057
AST                   94057
STL                   94057
BLK                   94057
TO                    94057
PF                    94057
PTS                   94057
PLUS_MINUS           117718
dtype: int64

To filter out players that didn't play we can select players that played more than 0 seconds in a game. The 'MIN' column tracks how many minutes players played in a game in minutes and seconds.

In [19]:
details[details['MIN']>'0'].isnull().sum()

GAME_ID                   0
TEAM_ID                   0
TEAM_ABBREVIATION         0
TEAM_CITY                 0
PLAYER_ID                 0
PLAYER_NAME               0
START_POSITION       267016
COMMENT              491640
MIN                       0
FGM                       0
FGA                       0
FG_PCT                    0
FG3M                      0
FG3A                      0
FG3_PCT                   0
FTM                       0
FTA                       0
FT_PCT                    0
OREB                      0
DREB                      0
REB                       0
AST                       0
STL                       0
BLK                       0
TO                        0
PF                        0
PTS                       0
PLUS_MINUS            23564
dtype: int64

In [20]:
played_details = details[details['MIN']>'0']
played_details.shape

(491640, 28)

In [21]:
played_details.head()

,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,START_POSITION,COMMENT,MIN,FGM,...,OREB,DREB,REB,AST,STL,BLK,TO,PF,PTS,PLUS_MINUS
0,12000047,1610612766,CHA,Charlotte,1628998,Cody Martin,F,NaN,17:06,0.0,...,0.0,2.0,2.0,1.0,0.0,1.0,1.0,2.0,0.0,-31.0
1,12000047,1610612766,CHA,Charlotte,1629023,P.J. Washington,F,NaN,24:58,4.0,...,1.0,6.0,7.0,2.0,2.0,1.0,5.0,3.0,9.0,-2.0
2,12000047,1610612766,CHA,Charlotte,203469,Cody Zeller,C,NaN,22:45,5.0,...,2.0,2.0,4.0,0.0,0.0,1.0,0.0,2.0,13.0,-23.0
3,12000047,1610612766,CHA,Charlotte,1628984,Devonte' Graham,G,NaN,31:30,8.0,...,1.0,3.0,4.0,3.0,2.0,0.0,4.0,0.0,25.0,-7.0
4,12000047,1610612766,CHA,Charlotte,1626179,Terry Rozier,G,NaN,26:48,8.0,...,1.0,4.0,5.0,6.0,1.0,0.0,0.0,2.0,24.0,22.0

In [65]:
advanced_game_data = played_details.groupby(['GAME_ID', 'TEAM_ID']).sum()
advanced_game_data['id'] = advanced_game_data.index
advanced_game_data

                     PLAYER_ID   FGM   FGA  FG_PCT  FG3M  FG3A  FG3_PCT   FTM  \
GAME_ID  TEAM_ID
10300001 1610612742      17609  34.0  76.0   4.177   2.0   8.0    1.000  15.0
         1610612762      38429  32.0  70.0   9.758   1.0   7.0    1.000  25.0
10300002 1610612749      23082  32.0  75.0   4.521   2.0  13.0    0.500  28.0
         1610612763      32790  40.0  81.0   6.789   4.0  15.0    1.367  21.0
10300003 1610612739      26307  38.0  77.0   5.051   4.0   6.0    1.500  20.0
...                        ...   ...   ...     ...   ...   ...      ...   ...
41900405 1610612748    6924849  38.0  83.0   2.746  14.0  33.0    2.260  21.0
41900406 1610612747    6100956  43.0  89.0   4.437  11.0  35.0    3.165   9.0
         1610612748    9161348  35.0  79.0   4.371  10.0  28.0    4.129  13.0
51900111 1610612757    7328168  38.0  84.0   3.799  15.0  40.0    3.703  35.0
         1610612763    8956967  45.0  92.0   4.330  14.0  25.0    4.600  18.0

                      FTA  FT_PCT  ...  DREB   REB   AST   STL  BLK    TO  \
GAME_ID  TEAM_ID                   ...
10300001 1610612742  30.0   3.191  ...  26.0  38.0  20.0   9.0  4.0  18.0
         1610612762  34.0   8.183  ...  32.0  41.0  23.0   8.0  4.0  18.0
10300002 1610612749  40.0   6.392  ...  32.0  43.0  20.0   9.0  4.0  24.0
         1610612763  34.0   5.306  ...  34.0  48.0  25.0  18.0  7.0  25.0
10300003 1610612739  29.0   7.000  ...  40.0  52.0  25.0  10.0  7.0  25.0
...                   ...     ...  ...   ...   ...   ...   ...  ...   ...
41900405 1610612748  22.0   4.750  ...  26.0  35.0  26.0   7.0  3.0  13.0
41900406 1610612747  14.0   1.964  ...  34.0  46.0  23.0   5.0  4.0  12.0
         1610612748  22.0   3.103  ...  32.0  41.0  25.0   4.0  4.0  13.0
51900111 1610612757  41.0   4.944  ...  30.0  39.0  20.0  12.0  7.0  13.0
         1610612763  22.0   4.917  ...  37.0  49.0  30.0   5.0  6.0  18.0

                       PF    PTS  PLUS_MINUS                      id
GAME_ID  TEAM_ID
10300001 1610612742  34.0   85.0         0.0  (10300001, 1610612742)
         1610612762  26.0   90.0         0.0  (10300001, 1610612762)
10300002 1610612749  26.0   94.0         0.0  (10300002, 1610612749)
         1610612763  35.0  105.0         0.0  (10300002, 1610612763)
10300003 1610612739  33.0  100.0         0.0  (10300003, 1610612739)
...                   ...    ...         ...                     ...
41900405 1610612748  19.0  111.0        15.0  (41900405, 1610612748)
41900406 1610612747  22.0  106.0        65.0  (41900406, 1610612747)
         1610612748  18.0   93.0       -65.0  (41900406, 1610612748)
51900111 1610612757  19.0  126.0        20.0  (51900111, 1610612757)
         1610612763  25.0  122.0       -20.0  (51900111, 1610612763)

[46843 rows x 21 columns]

In [66]:
advanced_game_data.index[0][0]

10300001

In [67]:
def season(game):
    return '20' + str(game['id'][0])[1:3]

In [87]:
advanced_game_data['SEASON'] = advanced_game_data.apply(lambda row: season(row), axis=1)
clean_advanced_game_data = advanced_game_data.drop(['id', 'PLAYER_ID'], axis=1)
clean_advanced_game_data

                      FGM   FGA  FG_PCT  FG3M  FG3A  FG3_PCT   FTM   FTA  \
GAME_ID  TEAM_ID
10300001 1610612742  34.0  76.0   4.177   2.0   8.0    1.000  15.0  30.0
         1610612762  32.0  70.0   9.758   1.0   7.0    1.000  25.0  34.0
10300002 1610612749  32.0  75.0   4.521   2.0  13.0    0.500  28.0  40.0
         1610612763  40.0  81.0   6.789   4.0  15.0    1.367  21.0  34.0
10300003 1610612739  38.0  77.0   5.051   4.0   6.0    1.500  20.0  29.0
...                   ...   ...     ...   ...   ...      ...   ...   ...
41900405 1610612748  38.0  83.0   2.746  14.0  33.0    2.260  21.0  22.0
41900406 1610612747  43.0  89.0   4.437  11.0  35.0    3.165   9.0  14.0
         1610612748  35.0  79.0   4.371  10.0  28.0    4.129  13.0  22.0
51900111 1610612757  38.0  84.0   3.799  15.0  40.0    3.703  35.0  41.0
         1610612763  45.0  92.0   4.330  14.0  25.0    4.600  18.0  22.0

                     FT_PCT  OREB  DREB   REB   AST   STL  BLK    TO    PF  \
GAME_ID  TEAM_ID
10300001 1610612742   3.191  12.0  26.0  38.0  20.0   9.0  4.0  18.0  34.0
         1610612762   8.183   9.0  32.0  41.0  23.0   8.0  4.0  18.0  26.0
10300002 1610612749   6.392  11.0  32.0  43.0  20.0   9.0  4.0  24.0  26.0
         1610612763   5.306  14.0  34.0  48.0  25.0  18.0  7.0  25.0  35.0
10300003 1610612739   7.000  12.0  40.0  52.0  25.0  10.0  7.0  25.0  33.0
...                     ...   ...   ...   ...   ...   ...  ...   ...   ...
41900405 1610612748   4.750   9.0  26.0  35.0  26.0   7.0  3.0  13.0  19.0
41900406 1610612747   1.964  12.0  34.0  46.0  23.0   5.0  4.0  12.0  22.0
         1610612748   3.103   9.0  32.0  41.0  25.0   4.0  4.0  13.0  18.0
51900111 1610612757   4.944   9.0  30.0  39.0  20.0  12.0  7.0  13.0  19.0
         1610612763   4.917  12.0  37.0  49.0  30.0   5.0  6.0  18.0  25.0

                       PTS  PLUS_MINUS SEASON
GAME_ID  TEAM_ID
10300001 1610612742   85.0         0.0   2003
         1610612762   90.0         0.0   2003
10300002 1610612749   94.0         0.0   2003
         1610612763  105.0         0.0   2003
10300003 1610612739  100.0         0.0   2003
...                    ...         ...    ...
41900405 1610612748  111.0        15.0   2019
41900406 1610612747  106.0        65.0   2019
         1610612748   93.0       -65.0   2019
51900111 1610612757  126.0        20.0   2019
         1610612763  122.0       -20.0   2019

[46843 rows x 20 columns]

In [88]:
clean_advanced_game_data.columns

Index(['FGM', 'FGA', 'FG_PCT', 'FG3M', 'FG3A', 'FG3_PCT', 'FTM', 'FTA',
       'FT_PCT', 'OREB', 'DREB', 'REB', 'AST', 'STL', 'BLK', 'TO', 'PF', 'PTS',
       'PLUS_MINUS', 'SEASON'],
      dtype='object')

In [89]:
clean_advanced_game_data['FG_PCT'] = clean_advanced_game_data['FGM']/clean_advanced_game_data['FGA']
clean_advanced_game_data.head(5)

                      FGM   FGA    FG_PCT  FG3M  FG3A  FG3_PCT   FTM   FTA  \
GAME_ID  TEAM_ID
10300001 1610612742  34.0  76.0  0.447368   2.0   8.0    1.000  15.0  30.0
         1610612762  32.0  70.0  0.457143   1.0   7.0    1.000  25.0  34.0
10300002 1610612749  32.0  75.0  0.426667   2.0  13.0    0.500  28.0  40.0
         1610612763  40.0  81.0  0.493827   4.0  15.0    1.367  21.0  34.0
10300003 1610612739  38.0  77.0  0.493506   4.0   6.0    1.500  20.0  29.0

                     FT_PCT  OREB  DREB   REB   AST   STL  BLK    TO    PF  \
GAME_ID  TEAM_ID
10300001 1610612742   3.191  12.0  26.0  38.0  20.0   9.0  4.0  18.0  34.0
         1610612762   8.183   9.0  32.0  41.0  23.0   8.0  4.0  18.0  26.0
10300002 1610612749   6.392  11.0  32.0  43.0  20.0   9.0  4.0  24.0  26.0
         1610612763   5.306  14.0  34.0  48.0  25.0  18.0  7.0  25.0  35.0
10300003 1610612739   7.000  12.0  40.0  52.0  25.0  10.0  7.0  25.0  33.0

                       PTS  PLUS_MINUS SEASON
GAME_ID  TEAM_ID
10300001 1610612742   85.0         0.0   2003
         1610612762   90.0         0.0   2003
10300002 1610612749   94.0         0.0   2003
         1610612763  105.0         0.0   2003
10300003 1610612739  100.0         0.0   2003

In [90]:
clean_advanced_game_data['FG3_PCT'] = clean_advanced_game_data['FG3M']/clean_advanced_game_data['FG3A']
clean_advanced_game_data.head(5)

                      FGM   FGA    FG_PCT  FG3M  FG3A   FG3_PCT   FTM   FTA  \
GAME_ID  TEAM_ID
10300001 1610612742  34.0  76.0  0.447368   2.0   8.0  0.250000  15.0  30.0
         1610612762  32.0  70.0  0.457143   1.0   7.0  0.142857  25.0  34.0
10300002 1610612749  32.0  75.0  0.426667   2.0  13.0  0.153846  28.0  40.0
         1610612763  40.0  81.0  0.493827   4.0  15.0  0.266667  21.0  34.0
10300003 1610612739  38.0  77.0  0.493506   4.0   6.0  0.666667  20.0  29.0

                     FT_PCT  OREB  DREB   REB   AST   STL  BLK    TO    PF  \
GAME_ID  TEAM_ID
10300001 1610612742   3.191  12.0  26.0  38.0  20.0   9.0  4.0  18.0  34.0
         1610612762   8.183   9.0  32.0  41.0  23.0   8.0  4.0  18.0  26.0
10300002 1610612749   6.392  11.0  32.0  43.0  20.0   9.0  4.0  24.0  26.0
         1610612763   5.306  14.0  34.0  48.0  25.0  18.0  7.0  25.0  35.0
10300003 1610612739   7.000  12.0  40.0  52.0  25.0  10.0  7.0  25.0  33.0

                       PTS  PLUS_MINUS SEASON
GAME_ID  TEAM_ID
10300001 1610612742   85.0         0.0   2003
         1610612762   90.0         0.0   2003
10300002 1610612749   94.0         0.0   2003
         1610612763  105.0         0.0   2003
10300003 1610612739  100.0         0.0   2003

In [91]:
clean_advanced_game_data['FT_PCT'] = clean_advanced_game_data['FTM']/clean_advanced_game_data['FTA']
clean_advanced_game_data.head(5)

                      FGM   FGA    FG_PCT  FG3M  FG3A   FG3_PCT   FTM   FTA  \
GAME_ID  TEAM_ID
10300001 1610612742  34.0  76.0  0.447368   2.0   8.0  0.250000  15.0  30.0
         1610612762  32.0  70.0  0.457143   1.0   7.0  0.142857  25.0  34.0
10300002 1610612749  32.0  75.0  0.426667   2.0  13.0  0.153846  28.0  40.0
         1610612763  40.0  81.0  0.493827   4.0  15.0  0.266667  21.0  34.0
10300003 1610612739  38.0  77.0  0.493506   4.0   6.0  0.666667  20.0  29.0

                       FT_PCT  OREB  DREB   REB   AST   STL  BLK    TO    PF  \
GAME_ID  TEAM_ID
10300001 1610612742  0.500000  12.0  26.0  38.0  20.0   9.0  4.0  18.0  34.0
         1610612762  0.735294   9.0  32.0  41.0  23.0   8.0  4.0  18.0  26.0
10300002 1610612749  0.700000  11.0  32.0  43.0  20.0   9.0  4.0  24.0  26.0
         1610612763  0.617647  14.0  34.0  48.0  25.0  18.0  7.0  25.0  35.0
10300003 1610612739  0.689655  12.0  40.0  52.0  25.0  10.0  7.0  25.0  33.0

                       PTS  PLUS_MINUS SEASON
GAME_ID  TEAM_ID
10300001 1610612742   85.0         0.0   2003
         1610612762   90.0         0.0   2003
10300002 1610612749   94.0         0.0   2003
         1610612763  105.0         0.0   2003
10300003 1610612739  100.0         0.0   2003

## Offensive rating

Calulate possessions

In [93]:
clean_advanced_game_data['POSSESSIONS'] = round(0.96 * (clean_advanced_game_data['FGA'] + clean_advanced_game_data['TO'] + 
                                                  0.44*clean_advanced_game_data['FTA'] - clean_advanced_game_data['OREB']))
clean_advanced_game_data.head(5)

                      FGM   FGA    FG_PCT  FG3M  FG3A   FG3_PCT   FTM   FTA  \
GAME_ID  TEAM_ID
10300001 1610612742  34.0  76.0  0.447368   2.0   8.0  0.250000  15.0  30.0
         1610612762  32.0  70.0  0.457143   1.0   7.0  0.142857  25.0  34.0
10300002 1610612749  32.0  75.0  0.426667   2.0  13.0  0.153846  28.0  40.0
         1610612763  40.0  81.0  0.493827   4.0  15.0  0.266667  21.0  34.0
10300003 1610612739  38.0  77.0  0.493506   4.0   6.0  0.666667  20.0  29.0

                       FT_PCT  OREB  ...   REB   AST   STL  BLK    TO    PF  \
GAME_ID  TEAM_ID                     ...
10300001 1610612742  0.500000  12.0  ...  38.0  20.0   9.0  4.0  18.0  34.0
         1610612762  0.735294   9.0  ...  41.0  23.0   8.0  4.0  18.0  26.0
10300002 1610612749  0.700000  11.0  ...  43.0  20.0   9.0  4.0  24.0  26.0
         1610612763  0.617647  14.0  ...  48.0  25.0  18.0  7.0  25.0  35.0
10300003 1610612739  0.689655  12.0  ...  52.0  25.0  10.0  7.0  25.0  33.0

                       PTS  PLUS_MINUS  SEASON POSSESSIONS
GAME_ID  TEAM_ID
10300001 1610612742   85.0         0.0    2003        91.0
         1610612762   90.0         0.0    2003        90.0
10300002 1610612749   94.0         0.0    2003       101.0
         1610612763  105.0         0.0    2003       103.0
10300003 1610612739  100.0         0.0    2003        99.0

[5 rows x 21 columns]

Offensive efficiency

In [108]:
clean_advanced_game_data['OER'] = 100*(clean_advanced_game_data['PTS']/clean_advanced_game_data['POSSESSIONS'])
clean_advanced_game_data.head(5)

                      FGM   FGA    FG_PCT  FG3M  FG3A   FG3_PCT   FTM   FTA  \
GAME_ID  TEAM_ID
10300001 1610612742  34.0  76.0  0.447368   2.0   8.0  0.250000  15.0  30.0
         1610612762  32.0  70.0  0.457143   1.0   7.0  0.142857  25.0  34.0
10300002 1610612749  32.0  75.0  0.426667   2.0  13.0  0.153846  28.0  40.0
         1610612763  40.0  81.0  0.493827   4.0  15.0  0.266667  21.0  34.0
10300003 1610612739  38.0  77.0  0.493506   4.0   6.0  0.666667  20.0  29.0

                       FT_PCT  OREB  ...   AST   STL  BLK    TO    PF    PTS  \
GAME_ID  TEAM_ID                     ...
10300001 1610612742  0.500000  12.0  ...  20.0   9.0  4.0  18.0  34.0   85.0
         1610612762  0.735294   9.0  ...  23.0   8.0  4.0  18.0  26.0   90.0
10300002 1610612749  0.700000  11.0  ...  20.0   9.0  4.0  24.0  26.0   94.0
         1610612763  0.617647  14.0  ...  25.0  18.0  7.0  25.0  35.0  105.0
10300003 1610612739  0.689655  12.0  ...  25.0  10.0  7.0  25.0  33.0  100.0

                     PLUS_MINUS  SEASON  POSSESSIONS         OER
GAME_ID  TEAM_ID
10300001 1610612742         0.0    2003         91.0   93.406593
         1610612762         0.0    2003         90.0  100.000000
10300002 1610612749         0.0    2003        101.0   93.069307
         1610612763         0.0    2003        103.0  101.941748
10300003 1610612739         0.0    2003         99.0  101.010101

[5 rows x 22 columns]

In [107]:
clean_advanced_game_data.loc[10300001]

,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,...,AST,STL,BLK,TO,PF,PTS,PLUS_MINUS,SEASON,POSSESSIONS,OER
TEAM_ID,,,,,,,,,,,,,,,,,,,,,
1610612742,34.0,76.0,0.447368,2.0,8.0,0.250000,15.0,30.0,0.500000,12.0,...,20.0,9.0,4.0,18.0,34.0,85.0,0.0,2003,91.0,0.934066
1610612762,32.0,70.0,0.457143,1.0,7.0,0.142857,25.0,34.0,0.735294,9.0,...,23.0,8.0,4.0,18.0,26.0,90.0,0.0,2003,90.0,1.000000

Defensive rating???

In [ ]:
#clean_advanced_game_data['OPP_PTS'] = clean_advanced_game_data
#clean_advanced_game_data.head(5)